.button {
  width: 326px;
  height: 70px;
  background-color: #eef1f4;
  white-space: normal;
  border-radius: 20px;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #667080;
  color: white;
}

.question {
  display: flex;
  flex-direction: column;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}
