.page {
  padding: 0;
  margin: 0;
  background-color: white;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
}

.content {
  max-width: 400px;
  text-align: left;
}

.innerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  max-width: 400px;
}

.topbutton {
  width: 50vw;
  padding: 8px;
}

.title {
  width: 400px;
}

.text {
  width: 400px;
}

.fields {
  width: 400px;
  margin-top: 4px;
}

.fieldsShort {
  width: 232px;
  margin-top: 4px;
}


.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.button {
  margin-top: 10px;
  font: "Inter";
  height: 40px;
  width: 400px;
  background: #2EC4B6;
  color: white;
  margin: 8px 0px;
  border-radius: 8px;
}

.buttonOutline {
  font: "Inter";
  height: 40px;
  width: 400px;
  color: #2EC4B6;
  border-color: #2EC4B6;
  margin: 8px 0px;
  border-radius: 12px;
}