.row {
  display: flex;
  width: 80vw;
}

.background {
  background: #3e92cc;
  z-index: 0;
}

.user {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

/* .p {
  width: 334px;
  height: 57px;
  font-size: 16px;
  color: white;
} */

.heading {
  font-size: 24px;
  color: 'slate';
  margin-bottom: 0px;
}
